@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(180deg, #4F759B, #92C9B1, #A2FAA3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 1.3em;
}

#container{
    display: block;
    background-color: rgba(252, 250, 250, 0.884);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(185, 179, 179);
    width: 750px;
    height: 400px;
    text-align: center;
}

#container p{
    font-size: 1.3em;
    margin: 20px 0 20px 0;
}

.avaliacoes{
    display: inline-block;
    margin: 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(212, 208, 208);
    padding: 35px;
    width: 130px;
    height: 150px;
}

.avaliacoes span{
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
}

.avaliacoes:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgb(66, 64, 64);
}

#span2{
    display: none;
}

#nao:hover{
    background-color: rgba(137, 174, 255, 0.664);
}


#nsei:hover{
    background-color: rgba(255, 166, 0, 0.685);
}

#sim:hover{
    background-color: rgba(139, 219, 20, 0.671);
}

.naoAtivo{
    display: inline-block;
    background-color: rgba(137, 174, 255, 0.664);
    margin: 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(66, 64, 64);
    padding: 35px;
    width: 130px;
    height: 150px;
}

.naoAtivo span{
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
}

.nseiAtivo{
    display: inline-block;
    background-color: rgba(255, 166, 0, 0.685);
    margin: 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(66, 64, 64);
    padding: 35px;
    width: 130px;
    height: 150px;
}

.nseiAtivo span{
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
}

.simAtivo{
    display: inline-block;
    background-color: rgba(139, 219, 20, 0.671);
    margin: 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(66, 64, 64);
    padding: 35px;
    width: 130px;
    height: 150px;
}

.simAtivo span{
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
}

.botao button{
    margin-top: 15px;
    width: 150px;
    padding: 7px;
    font-size: 1em;
    background-color: rgb(50, 96, 224);
    border: 0;
    border-radius: 5px;
    color: white;
}

.botao button:hover{
    cursor: pointer;
}

#blocoFinal{
    display: none;
    text-align: center;
    background-color: rgba(252, 250, 250, 0.884);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(185, 179, 179);
}

#blocoFinal h3,p{
    margin: 20px;
}

#blocoFinal p{
    font-size: 1.2em;
}

@media only screen and (max-width: 800px) and (min-width: 600px){
    #container{
        width: 90vw;
    }
    
    #container p{
        font-size: 1.1em;
    }

    .avaliacoes{
        margin: 15px;
        width: 14%;
        height: 32%;
    }

    #span1{
        display: none;
    }

    #span2{
        display: block;
    }

    .avaliacoes img{
        width: 80%;
    }

    .naoAtivo{
        margin: 15px;
        width: 14%;
        height: 32%;
    }

    .naoAtivo img{
        width: 80%;
    }

    .nseiAtivo{
        margin: 15px;
        width: 14%;
        height: 32%;
    }

    .nseiAtivo img{
        width: 80%;
    }

    .simAtivo{
        margin: 15px;
        width: 14%;
        height: 32%;
    }

    .simAtivo img{
        width: 80%;
    }

    .botao button{
        margin-top: 30px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 430px){
    #container{
        height: 450px;
        width: 85vw;
    }

    #container h1{
        font-size: 1.6em;
    }

    #container p{
        font-size: 1em;
        margin: 15px;
    }

    .avaliacoes{
        margin: 10px;
        height: 20%;
        width: 30%;
        padding: 20px;
    }

    #span1{
        display: block;
    }

    #span2{
        display: none;
    }

    .avaliacoes span{
        font-size: 1em;
        margin-top: 10px;
    }

    .avaliacoes img{
        width: 40%;
    }

    .naoAtivo{
        margin: 10px;
        height: 20%;
        width: 30%;
        padding: 20px;
    }

    .naoAtivo span{
        font-size: 1em;
        margin-top: 10px;
    }

    .naoAtivo img{
        width: 40%;
    }

    .nseiAtivo{
        margin: 10px;
        height: 20%;
        width: 30%;
        padding: 20px;
    }

    .nseiAtivo span{
        font-size: 1em;
        margin-top: 10px;
    }

    .nseiAtivo img{
        width: 40%;
    }

    .simAtivo{
        margin: 10px;
        height: 20%;
        width: 30%;
        padding: 20px;
    }

    .simAtivo span{
        font-size: 1em;
        margin-top: 10px;
    }

    .simAtivo img{
        width: 40%;
    }

    #blocoFinal{
        width: 80vw;
    }
}

@media only screen and (max-width: 430px){    
    #container{
        height: 530px;
        width: 80vw;

    }

    #container h1{
        font-size: 1.3em;
    }

    #container p{
        font-size: 0.7em;
        margin-bottom: 6px;
    }

    .avaliacoes{
        margin: 10px 0 10px 0;
        height: 13%;
        width: 40%;
        padding: 20px;
    }

    .avaliacoes span{
        font-size: 0.7em;
        margin-top: 15px;
    }

    .avaliacoes img{
        width: 40%;
    }

    .naoAtivo{
        margin: 10px 0 10px 0;
        height: 13%;
        width: 40%;
        padding: 20px;
    }

    .naoAtivo span{
        font-size: 0.7em;
        margin-top: 15px;
    }

    .naoAtivo img{
        width: 40%;
    }

    .nseiAtivo{
        margin: 10px 0 10px 0;
        height: 13%;
        width: 40%;
        padding: 20px;
    }

    .nseiAtivo span{
        font-size: 0.7em;
        margin-top: 15px;
    }

    .nseiAtivo img{
        width: 40%;
    }

    .simAtivo{
        margin: 10px 0 10px 0;
        height: 13%;
        width: 40%;
        padding: 20px;
    }

    .simAtivo span{
        font-size: 0.7em;
        margin-top: 15px;
    }

    .simAtivo img{
        width: 40%;
    }

    .botao button{
        width: 50%;
    }

    #blocoFinal{
        width: 70vw;
    }
}